<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta property="wb:webmaster" content="8ab8217e953444c2" />
<title><{$__page_title}></title>

<!-- 引入css/js文件 -->
<{include file="include/ref.html"}>

</head>
<body>


<!-- 导航栏 -->
<{include file="include/nav.html"}>


<div class="container-fluid" id="container">


	<div class="row-fluid">
		<div class="span12">
		
		
			<div class="row-fluid" style="margin-bottom: 35px;">
				<div class="span12">
				
					<!-- 中间内容区 -->
					<{include file="include/content.html"}>
				
				</div>
			</div>
			
			
			<div class="row-fluid">
				<div class="span12">
				
					<!-- 底部脚注 -->
					 <{include file="include/footer.html"}>
					 
				</div>
			</div>
			
			
		</div>
	</div>
	
	
</div>


</body>
</html>