<!-- <div class="row-fluid">
	<form class="span8 offset2">
	  <fieldset>
	    <legend>发一条</legend>
	    <label>标题</label>
	    <input type="text" placeholder="hehe…">
	    <div></div>
	    <button type="submit" class="btn">发表</button>
	  </fieldset>
	</form>
</div>
 -->
 
<form class="form-horizontal offset1">
  <legend>发一条</legend>
  <div class="control-group">
    <label class="control-label" for="inputEmail">标题</label>
    <div class="controls">
      <input type="text"  id="posts_title" placeholder="想说什么自己看着办 ..." class="input-xxlarge">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">内容</label>
    <div class="controls">
	  <textarea rows="10" class="input-xxlarge" id="posts_content"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="button" class="btn" id="posts_submit" >发表</button>
    </div>
  </div>
</form>


<script type="text/javascript" src="static/js/posts-new.js"></script>