<div class="container-fluid">
  <div class="row-fluid">
    
    <!-- 左侧栏 -->
    <div id="left-content" class="span8 pad scrollspy" data-spy="scroll">
      <!--Body content-->
      <{include file="<{$__template_file}>"}>
    </div>
    
    <!-- 右侧栏 -->
    <div id="right-sidebar" class="span4 pad">
      <h1>Tags</h1>
      <div id="tags">&nbsp;</div>
    </div>
    
  </div>
</div>


<script type="text/javascript" src="static/js/content.js"></script>
<link rel="stylesheet" href="static/css/content.css">