<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="static/css/global.css">

<script src="static/js/jquery1.9.1.min.js"></script>

<script src="static/bootstrap/js/bootstrap.min.js"></script>

<!-- 自己的通用js -->
<script src="static/js/oreki-util.js"></script>

<!-- 全局布局js -->
<script src="static/js/global.js"></script>

<!-- 编辑器 -->
<script charset="utf-8" src="static/js/kindeditor-min.js"></script>
<script charset="utf-8" src="static/js/kindeditor-zh_CN.js"></script>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2730756970" type="text/javascript" charset="utf-8"></script>